.container {
  border: 3px solid purple;
  border-radius: 28px;
  align-items: center;
  margin: 30px auto;
  background: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
}

body {
  background-color: #e2cef5;
}

strong {
  color: #e952ee;
}

footer {
  margin: 20px;
}
